.app {
  align-items: center;
  background: #209cee;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 100vh;
  justify-content: center;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 8px;
  width: 500px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex; 
  height: 30px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  color: #414b52;
}

button {
  background: none;
  border: 0;
  color: #414b52;
}

button:hover {
  color: #667885;
}

button:focus {
  outline: 0;
}

form {
  align-items: center;
  background: #588db1;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

input {
  background: #588db1;
  border: 0;
  color: #fff;
  width: 100%;
}

input::placeholder {
  color: #fff;
  font-weight: bold;
}

input:focus {
  outline: 0;
}

svg.doneAllIcon {
  font-size: 40px;
  vertical-align: bottom;
}